# visit https://github.com/mojombo/jekyll/wiki/Configuration for more settings
permalink: /:year/:month/:day/:title.html
paginate: 10 # pagination based on number of posts
paginate_path: "page:num"
exclude: ["README.md"] # files to exclude
highlighter: rouge
encoding: "utf-8"
markdown: kramdown

# 解决当天博客无法显示的问题, 参考：https://jekyllrb.com/docs/configuration/
future: true

defaults:
  -
    scope:
      path: "" # empty string for all files
    values:
      title: JohnnyYin的博客

description: JohnnyYin的博客，专注移动互联网开发，开源爱好者。
# gavatar头像及favicon
gavatar: /assets/ico/avatar.jpg
favicon: /assets/ico/avatar.jpg

author:
  name: JohnnyYin
  bio: JohnnyYin
  github: JohnnyYin
  weibo: 729271608
  wechat: enjoy_dream
  csdn: yinzhong39
  qq: 729271608
  email: enjoy930429@gmail.com
  email_md5: daf837849a895608386061ebedcd389b

rss_path: feed.xml
categories_path: categories.html
tags_path: tags.html

BASE_PATH: 
HOST: http://yinzhong.me
baseurl:

excerpt_separator: <!--more-->

gems: [jekyll-paginate]

# MarkDown解释器kramdown配置
kramdown:
  input: GFM
  extensions:
    - autolink
    - footnotes
    - smart

  auto_ids:       true
  footnote_nr:    1
  entity_output:  as_char
  toc_levels:     1..6
  smart_quotes:   lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  fenced_code_blocks: true
  syntax_highlighter: rouge

  coderay:
    coderay_wrap:              div
    coderay_line_numbers:      inline
    coderay_line_number_start: 1
    coderay_tab_width:         4
    coderay_bold_every:        10
    coderay_css:               style